@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');

* {
  list-style-type: none;
  font-family: 'League Spartan', sans-serif;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    'header'
    'nav'
    'content';
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  list-style-type: none;
  /* padding: 0.1rem 0.1rem 0.1rem 0.1rem; */
  /* padding: 0 0rem 0 0.2rem; */
  background-color: rgba(201, 216, 218, 0.911);
  margin-bottom: 5px;
  background-color: rgb(8, 4, 70);
  overflow: hidden;
}

.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  text-decoration: none;
  font-size: medium;
}

.topic-links {
  text-align: center;
  margin-left: 5px;
  font-size: medium;
}

.header {
  background-color: rgba(138, 219, 226, 0.911);
}

.article-card {
  color: rgb(10, 7, 7);

  padding: 0 1rem 1rem 1rem;
  background-color: rgba(171, 213, 216, 0.911);
}

.articles-container {
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  background-color: rgba(171, 213, 216, 0.911);
}

.article-body {
  background-color: rgba(211, 235, 236, 0.911);
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
}

.article-list {
  font-size: medium;
  padding: 0 1rem 1rem 1rem;
  background-color: rgba(171, 213, 216, 0.911);
}

.topic-title {
  background-color: rgba(171, 213, 216, 0.911);
}

.bold {
  font-weight: bold;
}

.comments-list {
  padding: 0 1rem 1rem 1rem;
}

.comment-body {
  padding-bottom: 1rem;
  background-color: rgba(211, 235, 236, 0.911);
  border-radius: 10px;
  padding: 1rem 1rem 1rem 1rem;
}

ul {
  padding-left: 0;
}

.created-at {
  font-size: small;
}

.add-comment-form {
  padding-top: 1rem;
  background-color: rgba(211, 235, 236, 0.911);
}

.user-text {
  color: red;
}

/* ----------------------------------------------- */

@media only screen and (min-width: 700px) {
  .App {
    /* grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'nav nav'
      'content content'; */
  }

  .article-card {
    color: rgb(10, 7, 7);
    border: 1px solid red;
    color: blue;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin-left: 5px;
    padding: 0 0 5px 5px;
  }

  .article-links {
    font-size: medium;
    border: 1px solid green;
  }

  .article-container {
    text-align: center;
  }
}
