* {
  list-style-type: none;
  background-color: #f8f8ff;
}

.topic-links {
  margin-right: 5px;
}
.App {
  text-align: center;
}

.article-card {
  color: red;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: green;
}

.article-container {
  padding: 2px 16px;
}
